# Environment Variables
.env
backend/.env
frontend/.env

# Dependencies
node_modules/
venv/
.venv/
backend/.venv/
__pycache__/
*.pyc

# IDE & System
.DS_Store
.idea/
.idx/
.vscode/

# Project Specific Ignores (User Request)
riset-artikel-project/
contoh/
